.kv {
  background-color: #3F335D;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(11, 100, 96, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(11, 100, 96, 0));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(11, 100, 96, 0));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(11, 100, 96, 0));
  position: relative; }

.jumbotron {
  padding: 10rem 2rem;
  background-color: initial;
  top: 0;
  left: 0; }

.timeline img {
  width: 60%; }
  @media (min-width: 576px) and (max-width: 767px) {
    .timeline img {
      width: 80%; } }
  @media (max-width: 575px) {
    .timeline img {
      width: 100%; } }

.card {
  border: 0px; }

.ourteam .member-image img {
  width: 10rem;
  height: 10rem;
  background-color: #ccc;
  overflow: hidden; }

#particles-js {
  width: 100%;
  height: 100%;
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }
  #particles-js .particles-js-canvas-el {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.footer {
  background-color: #3F335D; }
  .footer .socials li a {
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.5);
    padding: 1rem; }
    .footer .socials li a:hover {
      color: rgba(255, 255, 255, 0.8);
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
