.chart {
    .piechart {
        width: 100%;
        height: 300px;
        background-color: #ccc;
    }
}

.ourteam {
    .member-image img {
        width: 10rem;
        height: 10rem;
        background-color: #ccc;
        overflow: hidden;
    }
}