.footer
    .container
        ul.row.list-unstyled.my-5
            - for (var x = 0; x < 6; x++)
                li.col.social
                    |abs
        p.text-center
            |copyright 2017