nav.navbar.navbar-light.bg-light
    .container.justify-content-between
        a.navbar-brand Navbar
        .dropdown
            a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='http://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                | Eng
            .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownMenuLink')
                a.dropdown-item(href='#') 繁中