section.kv
    #particles-js
    .container
        .jumbotron
            h1.display-3.text-center.text-white ENS.BID
            p.lead.text-center.text-white
                | 您Ethereum上的身份
            .row.justify-content-md-center.my-4
                .col-md-4.col-lg-3.my-2
                    a.btn.btn-outline-primary.btn-lg.btn-block(href='#', role='button') White paper
                .col-md-4.col-lg-3.my-2
                    a.btn.btn-primary.btn-lg.btn-block(href='#', role='button') ENS.BID DApp

section.works
    .container
        .row.justify-content-md-center
            .col-md-8.my-4
                h3.text-center Best ENS trading market.
                p.text-center ENS offers a secure and decentralised way to address resources both on and off the blockchain using simple, human-readable names.
    .container
        .row.justify-content-center
            .col-xl-4.col-lg-5.col-sm-12.my-2
                .card
                    img.card-img-top(src='/img/work1.svg', alt='Card image cap')
                    .card-body
                        h4.card-title 完整支援 ENS 域名註冊
                        p.card-text
                            | 現行的域名交易 DApp 支援的功能並不全面，無法滿足使用者所有的域名買賣需求，當使用者想投資一個域名時，他可能要使用一個 DApp 來註冊域名，接著再用另一個 DApp 進行域名交易或移轉，為了解決這個問題，我們整合所有功能包含：開標、投標、揭標、結標、設定域名、域名移轉，提供完整的 ENS 功能。
            .col-xl-4.col-lg-5.col-sm-12.my-2
                .card
                    img.card-img-top(src='/img/work2.svg', alt='Card image cap')
                    .card-body
                        h4.card-title 支援離線簽名
                        p.card-text
                            | 我們解決了使用 DApp 最重要的問題：信任，讓所有使用者可以安心的使用 DApp 並上傳私鑰，ENS.bid 的 DApp 將會提供可以離線簽名的版本，確保每位使用者的帳戶安全，允許透過離線簽名的方式，發送交易到可信任的 Enode 節點。
            .col-xl-4.col-lg-5.col-sm-12.my-2
                .card
                    img.card-img-top(src='/img/work3.svg', alt='Card image cap')
                    .card-body
                        h4.card-title ENS 拍賣平台
                        p.card-text
                            | ENS.bid 提供一個完善的域名交易平台，為買家及賣家提供一個安全、方便且交易透明化的場域，媒合買賣雙方，使 ENS 交易變得更容易，我們希望能降低使用門檻，讓域名交易不再有一道難以進入的鴻溝，以及交易雙方信任上的疑慮，我們致力於提升使用者體驗，讓所有人都能安心地在 ENS.bid 上交易。
            .col-xl-4.col-lg-5.col-sm-12.my-2
                .card
                    img.card-img-top(src='/img/work4.svg', alt='Card image cap')
                    .card-body
                        h4.card-title 履約保證智能合約
                        p.card-text
                            | ENS.bid 透過智能合約，提供一個去中心化的履約保證合約，協助買賣雙方透過合約進行交易，可以完全避免買賣雙方透過線下交易所帶來的風險，履約保證合約的程式碼將 Open source 並且提供第三方檢驗。
            .col-xl-4.col-lg-5.col-sm-12.my-2
                .card
                    img.card-img-top(src='/img/work5.svg', alt='Card image cap')
                    .card-body
                        h4.card-title ENS 融資智能合約
                        p.card-text
                            | 利用智能合約打造域名質借模式為 ENS.bid 特別之處，所有使用者均可使用域名來借貸，只需將域名所有權轉移給放款合約，即可算出可借出的以太幣，我們提供需要以太幣的人將域名當作抵押品來借貸，操作簡單快速。
            .col-xl-4.col-lg-5.col-sm-12.my-2
                .card
                    img.card-img-top(src='/img/work6.svg', alt='Card image cap')
                    .card-body
                        h4.card-title 支援其他域名
                        p.card-text
                            | 提供.dapp or .dao 等其他域名，讓 Ethereum 域名功能不再單一化


section.roadmap
    .container
        hr.my-4
        .row.justify-content-center
            .col-md-6.text-center
                h1 Roadmap
        .row.justify-content-center
            .col-md-8.col-sm-12
                .timeline.text-center
                    img(src="/img/timeline.svg")


section.chart.my-5
    .container
        .row.justify-content-center
            .col-md-6.text-center
                h3.my-4 ICO Token 分配
                .piechart
                    img(src="/img/chart1.svg")
            .col-md-6.text-center
                h3.my-4 ICO Fund Usage
                .piechart
                    img(src="/img/chart2.svg")
section.ourteam.my-4
    .container
        hr.my-4
        .row.justify-content-center
            .col.text-center
                h1 Our Team
        ul.row.justify-content-center.list-unstyled
            - for (var x=0; x<3 ; x++)
                li.col-md-4.p-5
                    ul.list-unstyled.text-center
                        li.member-image.p-2
                            img.member-photo.rounded-circle(src="../img/member-default.jpg")
                        li.member-title.my-2
                            h5 蔡詠捷 | CEO 
                        li.member-des
                            p.text-left 曾任職中央研究院、2016年加入Migme東南亞為首的社群公司，協助Migme導入分散式架構。2017年發行台灣首次ICO項目CryptoABS，致力於用金融科技改善世界。擅長分散式系統、數位貨幣、區塊鏈技術、智能合約。2017年加入諦諾科技。

section.contact.my-4
    .container
        hr.my-4
        .row.justify-content-center
            .col.text-center
                h1 Follow Us
        .row.justify-content-center.my-5
            .col-md-5
                .input-group
                    input.form-control.form-control-lg(type='text', placeholder='Your Email Address', aria-label='Search for...')
                    span.input-group-btn
                        button.btn.btn-primary.btn-lg(type='button') SUBSCRIBE